<h3>Review your Ballot</h3>


<div style="padding: 10px; margin-bottom: 10px; background-color: #eee; border: 1px #ddd solid; max-width: 340px;">
{#foreach $T.questions as question}

<b>Question #{$T.question$index + 1}: {$T.question.short_name}</b><br>
{#if $T.choices[$T.question$index].length == 0}
<div style="margin-left: 15px;">&#x2610; <i>No choice selected</i></div>
{#/if}
{#foreach $T.choices[$T.question$index] as choice}
<div style="margin-left: 15px;">&#x2713; {$T.choice}</div>
{#/for}
{#if $T.choices[$T.question$index].length < $T.question.max}
[you selected {$T.choices[$T.question$index].length} candidates; you may select from {$T.question.min} to {$T.question.max}]
{#/if}
[<a onclick="BOOTH.show_question({$T.question$index}); return false;" href="#">edit responses</a>]
{#if !$T.question$last}<br><br>{#/if}
{#/for}
</div>


<p><p>Your ballot tracker is <b><tt style="font-size: 11pt;">{$T.encrypted_vote_hash}</tt></b>, and you can <a onclick="BOOTH.show_receipt(); return false;" href="#">print</a> it.<br /><br /></p>

<p>
Clicking "Submit this Vote!", will destroy the unencrypted version of your ballot, and only the encrypted version will remain.
The encrypted version will be submitted to the Helios server, and you will be able to see it under "voters & ballots" on the main page.

<br><br>

Alternatively, you can click "Verify this Vote!", in which case you will be provided your encrypted ballot as well as the randomness 
that was used to generate it. You will be provided a link to the ballot verifier where you can confirm the integrity of your ballot. 
<em>If you choose to verify your vote, you will need to return here afterwards to re-encrypt and submit a new ballot.</em>

</p>

<button id="proceed_button" style="display: inline;" onclick="BOOTH.cast_ballot();">Submit this Vote!</button> 
<p>or</p>
<button id="proceed_button" style="display: inline;" onclick="BOOTH.audit_ballot();">Verify this Vote!</button><br />
<div id="loading_div"><img src="loading.gif" id="proceed_loading_img" /></div>



<form method="POST" action="{$T.cast_url}" id="send_ballot_form" class="prettyform">
<input type="hidden" name="election_uuid" value="{$T.election_uuid}" />
<input type="hidden" name="election_hash" value="{$T.election_hash}" />
<textarea name="encrypted_vote" style="display: none;">
{$T.encrypted_vote_json}
</textarea>
</form>
